/*---------------------BODY-------------------*/
body {
  font-family: 'Macondo', cursive;
  background-color: #2C1706;
  color : white;
  text-align: center;
}
  @import url('normalisation.css');
  @import url("profilvuStyle.css");
  @import url('homeStyle.css');
  @import url('animation.css');
  @import url('article.css');
  @import url('carte.css');
  @import url('formulaire.css');
  @import url('forums.css');


/*----------------- BLOCK HEADER ------------*/

/*-----------------------NAVBAR------------------*/
.navbar-default
{
  background-color:#1D0F04;
  background-image:none;
  background-repeat: no-repeat;
  border-color: #1D0F04;
  margin-left: 5%;
  margin-right: 5%;
}

#crane {
  position: absolute;
  margin-left: 40%;
  margin-top: -12%;
  text-align: center;
}

#coloneD {
  position: absolute;
  margin-left: 15%;
}

#coloneG {
    position: absolute;
    margin-left: 67%;
}

@media (max-width: 1000px) {
  #crane, #corneDroite, #corneGauche {
    display: none;
  }
}


  .navbar .collapse #btn-Menu, #btn-logout, #home, #profil, #contact
  {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top,#efd100 0,#e2a233 38%,#f0c328 60%,#fff1a3 86%,#ffe13e 100%);
    background-size: 1em 1em;
    color: #f8b700;
    display: inline-block;
    line-height: 1em;
    position: relative;
    z-index: auto;
    font-size:25px;
    text-transform: uppercase;
  }

  .dropdown .dropdown-menu > li {
    background-color:#1D0F04;
    background-image: none;
    background-repeat: no-repeat;
  }
  .navbar-nav > li > .dropdown-menu a label{
    color : #f8b700;
    background-color:#1D0F04;
  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-nav > li > .dropdown-menu a:hover {
    background-color: #3C1E06;
    user-select: none;
  }

  /*----------------------------------------------------------------------------BODY STYLE ---------------------------------------------------------------*/

  #body-accueil {
    margin-top: 2.5%;
    margin-left: 3%;
    margin-bottom: -25%;
    text-align: center;
    /*color : black;*/
    font-size : 1.2em;
  }
   #welcome{
    margin: 0 auto;

    margin-bottom: 50px;
    text-align: center;
    font-size : 55px;
    background-image: -webkit-linear-gradient(top,#931C17 0,#351202 38%,#8a0707 60%,#e80505 86%,#8a0707 100%);

    background-size: 1em 1em;
    color: #8a0707;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-image: -o-linear-gradient(top,#931C17 0,#351202 38%,#8a0707 60%,#e80505 86%,#8a0707 100%);
    -o-background-clip: text;
    -o-text-fill-color: transparent;
  }


  .infos-profil{
    margin-top: .5%;
  }

  #vuProfil, .change-infos {
    text-align: center;
    margin-top:5%;
    font-size: 1.5rem;
  }

  #btn-modif, #btn-envoi  {
    background: #8a0707;
    width: 200px;
  }

  .infos-button a, .infos-profil, .change-infos {
    color : white;
  }

  /*------------FORM CHANGE INFOS---------------*/

  .change-infos input {
    font-size : 1.25em;
    color : #1D0F04;
  }

  .change-infos textarea {
    background: -webkit-linear-gradient(top,#931C17 0,#351202 38%,#8a0707 60%,#e80505 86%,#8a0707 100%);;
  }

  #btn-envoi {
    margin-left: 25%;
  }

  /*--------------------------------------------------------------------------Style JDR Page---------------------------------------*/
.block-infos {
  margin-top: 4%;
  text-align: center;
}

.block-infos img {
  margin-top: 1.5%;
}

  #imgJdr {
    /*text-align: center;*/
  }

  .hollow_earth, .donjon_et_dragon, .super_cops, .zcorps {
        display: inline-block;
  }

  /*---------------------Hollow Earth Style -------------------------------------*/
  #gameTitle{
    font-size: 5em;
    margin: 5%;
    background-image: -webkit-linear-gradient(top,#931C17 0,#351202 38%,#8a0707 60%,#e80505 86%,#8a0707 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .game{
    font-size: 2rem;
  }

  .block-Joueur {
    margin-top: 5%;
  }

  .block-Joueur .addPlayer {
    color : black;
    background: #8a0707;
  }

  /*-------------------------------------------------------------------------CHAT STYLE ---------------------------------------------------*/


  .button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 4px 10px;
    margin: 0px 10px;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #CCC;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: none; }

    .button:hover,
    .button:active {
      background-color: #F2F2F2;
      background-image: url(../../svg0605.svg?from=%23FFF&amp;to=%23F2F2F2);
      background-image: -o-linear-gradient(top, #FFF, #F2F2F2);
      background-image: -ms-linear-gradient(top, #FFF, #F2F2F2);
      background-image: -moz-linear-gradient(top, #FFF, #F2F2F2);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F2F2F2));
      background-image: -webkit-linear-gradient(top, #FFF, #F2F2F2);
      background-image: linear-gradient(top, #FFF, #F2F2F2);
      border-color: #CCC;
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      background-position: 0 -15px;
      -webkit-transition: background-position 0.1s linear;
      -moz-transition: background-position 0.1s linear;
      -o-transition: background-position 0.1s linear;
      transition: background-position 0.1s linear;
      color: #333333;
      text-decoration: none;
      opacity: 1; }

      .conversation {
        margin-left: 5%;
        height: 550px;
        border: black 1px solid;
        background-color: #efecca;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-left: 5px;
        color : black;
        margin-left: -0px;
        text-align: left;
      }

      #textChat {
        width: 500px;
      }

      fieldset {
        margin: 5% 26%;
        color : #000;
        width: 750px;
        margin-left: 0 auto;
        background-color: #3C1E06;
        border: black 1px solid; }


/*---------------------------------------------------------------------------FOOTER STYLE---------------------------------------------------------*/

.footer-block #contact {
  text-align: center;
  /*margin-left: 300%;*/
}
