.infos-profil{
  margin-top: .5%;
}

#vuProfil, .change-infos {
  text-align: center;
  margin-top:5%;
  font-size: 1.5rem;
}

#btn-modif, #btn-envoi  {
  background: #8a0707;
  width: 200px;
}

.infos-button a, .infos-profil, .change-infos {
  color : white;
}

/*------------FORM CHANGE INFOS---------------*/

.change-infos input {
  font-size : 1.25em;
  color : #1D0F04;
}

.change-infos textarea {
  background: -webkit-linear-gradient(top,#931C17 0,#351202 38%,#8a0707 60%,#e80505 86%,#8a0707 100%);;
}

#btn-envoi {
  margin-left: 25%;
}
