body {
  padding-bottom: 40px;
  background-color: #000;
  font-family: 'Macondo', cursive;
}

.image-background{
  background: #000;
  text-align: center;
}
#image-background{
  background: black;
  margin-left: 12.5%;
  margin-top: -12%;
}
#connexion
{
  position: absolute;
  margin-top:-45%;
  margin-left: 32%;
}
h2
{
  margin: 5%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top,#000 0,#e2a233 38%,#351202 60%,#000 86%,#000 100%);

  background-size: 1em 1em;
  color:#C03000;
  text-align: center;
}
#infoConnexion,  .form-container
{
  width:500px;
  margin:0 auto;
  /*background:rgb(97,117,91);*/
  /*background-image: -webkit-linear-gradient(top,rgb(194,226,179) 0,rgb(97,117,91) 38%,rgb(194,226,179) 60%,rgb(141,162,136) 86%,rgb(67,81,64) 100%);*/
    background: transparent;
  padding: 25px;
  box-shadow: 0px 7px 5px rgba(0,0,0,0.4);
  border-radius:3px;
  text-align: center;
}
button
{
  font-family:'Macondo', cursive;
  font-size:25px;
}
label
{
  font-family:'Macondo', cursive;
  color:#000;
}
#end {
  color : #fff;
}
a
{
  text-decoration:underline;
  color: #fff;
}

.form-container input {
  font-family: 'Macondo', cursive;
  font-size: 20px;
  text-align: center;
}
/* home page style */


.content
{
  margin:0 auto;
  margin-top:100px;
  text-align:center;
  font-family: 'Macondo', cursive;
  font-size:55px;
  color:#C0392B;
}
.content p
{
  font-size:30px;
  color:#004567;
  width:800px;
  margin:0 auto;
}

#formInscription {
    left: 50%;
    position: absolute;
    margin-left: -595px;
    top: 6%;
      background: transparent;
}
